{% extends 'base.html' %}

{% block content %}
<style>
  /* Estilo para el formulario */
  form {
    margin-top: 20px;
  }

  h1 {
    margin-bottom: 20px;
  }

  button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }
</style>

<h1>Create task</h1>

{{error}}
<form action="/create_task/" method="POST">
  {% csrf_token %}
  {{form}}

  <button>Save</button>
</form>
{% endblock %}
